// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: 'Roboto', sans-serif;
  width: 400px;
  margin: auto;
}

.coach-answer {
  border-left: 10px solid #dddddd;
  padding-left: 10px;
  background-color: #fdfdde;
  box-shadow: 5px 0px 10px #dddddd;
}

.your-question {
  border-left: 10px solid #dddddd;
  padding-left: 10px;
  box-shadow: 5px 0px 10px #dddddd;
}

input.ask-answer {
  width:230px;
}

div{
}
